<h4>Login</h4>
<div class="card">
    <form action="" method="POST">
        <div class="card-body">
            <label for="email">Email</label>
                <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha</label>
                <input type="password" name="senha" class="form-control" required><br>
            <button class="btn btn-success" type="submit">Entrar</button>
        </div>
    </form>
</div>